[Unit]
Description=Sytadin Data Service
Requires=dbus.service network-online.target
After=dbus.service network-online.target
StartLimitBurst=0

[Service]
ExecStart=/usr/bin/commutator-sytadin
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
