[Unit]
Description=Sytadin Data Service
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
ExecStart=/usr/bin/commutator-sytadin
Restart=on-failure

[Install]
WantedBy=multi-user.target
