[Unit]
Description=Splash Screen Service
DefaultDependencies=no
After=graphical.target

[Service]
ExecStart=/usr/bin/epaper-utility -s /etc/epaper/splash.bmp
Type=oneshot

[Install]
WantedBy=multi-user.target
