[Unit]
Description=IDFM Line Reports Data Service
Requires=dbus.service network-online.target
After=dbus.service network-online.target
StartLimitBurst=0

[Service]
ExecStart=/usr/bin/commutator-idfm-line-reports --token %%TOKEN%%
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
