[Unit]
Description=Silence connected clock
After=time-sync.target
Wants=time-sync.target

[Service]
ExecStart=/usr/bin/connected-clock -p /etc/connected-clock/bigben -v 5
Restart=on-failure

[Install]
WantedBy=multi-user.target
